.atylaNavBar-navLinks {
  position: absolute !important;
  text-align: right !important;
  padding-top: 15px !important;
  right: 3% !important;
  font-size: 16px;
}

.atylaNavBar-activeLink {
  color: black !important;
  font-family: 'Courier New', Courier, monospace !important;
  text-decoration: underline red !important;
}
.atylaNavBar-activeLink.mod-last {
  margin-right: 0 !important;
}

.atylaNavBar-normalLink {
  margin-right: 20px !important;
  color: black !important;
  font-family: 'Courier New', Courier, monospace !important;
}
.atylaNavBar-normalLink.mod-last {
  margin-right: 0% !important;
}

.navbar-default {
  margin-bottom: 0px;
}
.navbar-default navbar-brand {
  color: red;
}
