@mixin xs {
  @media (max-width: 767px) { @content; }
}

@mixin sm {
  @media (min-width: 768px) { @content; }
}

@mixin md {
  @media (min-width: 992px) { @content; }
}

@mixin lg {
  @media (min-width: 1200px) { @content; }
}

.atylaNavBar {
  background-color: transparent;
  z-index: 10;
}

.atylaNavBar-navLinks {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute !important;
  text-align: right !important;
  top: 50px !important;
  right: 3% !important;
  font-size: 16px;

  @include sm {
    top: 15px !important;
  }
}

.atylaNavBar-signInLink {
  background-color: white;
  color: black !important;
  border: 3px solid #DD4B39;
  border-radius: 8px;
  padding: 12px;
  margin-right: 5px !important;
}

.atylaNavBar-signUpLink {
  background-color: #DD4B39;
  color: white !important;
  border: 2px solid #DD4B39;
  border-radius: 8px;
  padding: 12px;
  margin-right: 20px !important;
}

.atylaNavBar-activeLink {
  color: black !important;
  border-bottom: 1px solid #DD4B39 !important;
  padding-bottom: 10px;
  &.mod-last {
    margin-right: 0 !important;
  }

  &.mod-private {
    border-bottom: 1px solid #0070BA !important;
  }
}

.atylaNavBar-normalLink {
  margin-right: 20px !important;
  color: white !important;
  &.mod-last {
    margin-right: 0% !important;
  }
}

.navbar-default {
  width: 100%;
  position: absolute;
  background-image: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 60px;
  margin-bottom: 0px;
}

.navbar-private {
  width: 100%;
  position: absolute;
  background-image: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  height: 60px;
  margin-bottom: 0px;
  background-color: #F2F2F2;
}

.atylaNavBar-privateNormalLink {
  margin-right: 20px !important;
  color: black !important;
  &.mod-last {
    margin-right: 0% !important;
  }

  &.mod-icon {
    font-size: 30px;
  }
}

.atylaNavBar-privateNavLinks {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute !important;
  top: 50px !important;
  font-size: 16px;

  @include sm {
    top: 15px !important;
  }
}

.atylaNavBar-privateBrand {
  font-size: 30px;
  color: #0070BA !important;
}

.atylaNavBar-privateLogoutLink {
  background-color: white;
  color: #0070BA !important;
  border: 2px solid #0070BA;
  border-radius: 8px;
  padding: 12px;
  margin-right: 20px !important;

  &:hover {
    text-decoration: none;
  }
}

.atylaNavBar-privateIconText {
  margin-top: 5px;
}