.contractMenu-stepButton {
  span {
    span {
      path {
        color: #0070BA;
      }
      circle {
        color: #0070BA;
      }
    }
  }
}

.contractMenu-button {
  background-color: #0070BA;
  color: red;
}
