@mixin xs {
  @media (max-width: 767px) { @content; }
}

@mixin sm {
  @media (min-width: 768px) { @content; }
}

@mixin md {
  @media (min-width: 992px) { @content; }
}

@mixin lg {
  @media (min-width: 1200px) { @content; }
}
$color-chambray: #31538f;
$color-linkWater: #d8e2f3;

.footer {
  border-top: 2px solid $color-chambray;
  background-color: $color-linkWater;
  position: absolute;
  width:100%;
}

.footer-container {
  padding-top: 20px;
  text-align: center;
  max-width: 300px;

  @include sm {
    max-width: 100%;
    text-align: left;
  }
}

.footer-element {
  padding-top: 10px;
}

.footer-elementTitle {
  font-size: 20px;
  font-weight: 900;
}

.footer-link {
  display: block;
  text-decoration: none;
}

.footer-credentials {
  text-align: center;
}