@mixin xs {
  @media (max-width: 767px) { @content; }
}

@mixin sm {
  @media (min-width: 768px) { @content; }
}

@mixin md {
  @media (min-width: 992px) { @content; }
}

@mixin lg {
  @media (min-width: 1200px) { @content; }
}
$color-chambray: #31538f;
$color-linkWater: #d8e2f3;

.footer {
  color: #fff;
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
  position: absolute;
  width:100%;
  padding: 10px;
}

.footer-container {
  display: flex;
  border-bottom: 1px dotted white;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.footer-element {
  padding-top: 10px;
}

.footer-elementTitle {
  font-size: 20px;
  font-weight: 900;
}

.footer-link {
  display: flex;
  text-decoration: none;
  color: white;
  margin-right: 40px;
  font-size: 12px;

  &:hover {
    color: white;
  }
}

.footer-credentials {
  color: white;
  font-size: 12px;
  margin: 0;
}