@mixin xs {
  @media (max-width: 767px) { @content; }
}

@mixin sm {
  @media (min-width: 768px) { @content; }
}

@mixin md {
  @media (min-width: 992px) { @content; }
}

@mixin lg {
  @media (min-width: 1200px) { @content; }
}
$color-chambray: #31538f;
$color-linkWater: #d8e2f3;

.homepage {
  width: 100%;
  padding: 0;
}

.homepage-header {
  position: relative;
  background-size: cover;
}

.homepage-calculator {
  border: 1px solid $color-chambray;
  height: 200px;
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
  margin-bottom: 50px;

  @include sm {
    font-size: 22px;
  }
  @include md {
    font-size: 30px;
  }
}

.homepage-buySection {
  text-align: center;
  display: table;
  margin: 0 auto;
  padding: 0;
}

.homepage-buySectionTitle {
  max-width: 750px;
  font-size: 30px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 200px;

  @include sm {
    margin-top: 390px;
    font-size: 80px;
  }

  &.mod-secondLine {
    margin-top: 0;
  }

  &.mod-firstLine {
    margin-bottom: 0;
  }
}

.homepage-buySectionTitleText {
  font-weight: 700;
}

.homepage-buySectionFootText {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
}

.homepage-calculatorButton {
  margin-top: 30px;
}

.homepage-searchBar {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.homepage-searchForm {
  display: flex;
}

.homepage-searchInput {
  width: 500px;
}

.homepage-searchButton {
  width: 200px;
}

.homepage-sectionInvestTitle {
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 50px;
  line-height: 40px;

  @include sm {
    font-size: 30px;
    line-height: 60px;
  }
}

.homepage-sectionTechnoTitle {
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 50px;
  line-height: 40px;
  color: white;

  @include sm {
    font-size: 30px;
    line-height: 60px;
  }
}

.homepage-sectionInvestFooterTitle {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid #0070BA;
  width: 230px;
  margin: 0 auto 20px auto;
}

.homepage-sectionTechnoSectionTitle {
  font-size: 18px;
  font-weight: 700;
  max-width: 280px;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  text-align: justify;

  @include lg {
    font-size: 25px;
  }
}

.homepage-sectionTechnoSectionText {
  color: white;
  text-align: justify;
  max-width: 280px;
  margin: auto;
  margin-bottom: 20px;

  @include sm {
    margin-bottom: auto;
  }
}

.homepage-sectionInvestFooterText {
  max-width: 300px;
  margin: auto;
  font-size: 16px;
}

.homepage-section {
  margin-bottom: 50px;
  text-align: center;
}

.homepage-sectionTechno {
  text-align: center;
  color: #fff;
  background-color: #009cde;
  background-image: radial-gradient(circle farthest-side at center bottom,#009cde,#003087 125%);
}

.homepage-sectionPartner {
  text-align: center;
}

.homepage-sectionPartnerTitle {
  font-size: 30px;
  line-height: 60px;
  width: 250px;
  margin: 30px auto 50px auto;
  border-bottom: 1px solid #0070BA;
}

.homepage-sectionPartnerLogos {
  width: 1170px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.homepage-sectionPartnerLogo {
  margin-right: 150px;
}

.homepage-sectionPresentation {
  margin-bottom: 50px;
  text-align: center;
  background-color: #F2F2F2;
}

.homepage-sectionPresentationIcons {
  font-size: 40px !important;
  color: #0070BA;
  margin-bottom: 30px;
}

.homepage-advantages {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-product {
  text-align: left;
  margin-left: 20px;

  @include sm {
    margin-left: 0px;
  }
}

.homepage-advantagesRow {
  width: 100%;
  margin-bottom: 30px;
}

.homepage-sectionTitle {
  margin-bottom: 50px;
}

.homepage-sectionExperience {
  text-align: center;
}

.homepage-sectionExperienceTitle {
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 40px;

  @include sm {
    font-size: 30px;
    line-height: 60px;
  }

  &.mod-underline {
    border-bottom: 1px solid #0070BA;
    width: 80%;
    padding: 0 10px 0 10px;
    margin: 30px auto 20px auto;

    @include sm {
      padding: 0;
      width: 500px;
    }
  }
}

.homepage-circle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  background: #0070BA;
  color: white;
  text-align: center;
  line-height: 1;
  box-sizing: content-box;
  white-space: nowrap;
  margin-right: 20px;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    padding-top: 100%;
    height: 0;
  }
}

.homepage-circleNumber {
  display: inline-block;
  vertical-align: middle;
}

.homepage-sectionExperienceFooter {
  margin-bottom: 50px;

  &.mod-bottom {
    display: flex;
    align-items: start;
  }
}

.homepage-sectionExperienceSwitcher {
  margin-bottom: 40px;
}

.homepage-sectionExperienceButton {
  border: none;
  background: none;
  color: #0070BA;
  font-size: 20px;
}

.homepage-sectionExperienceButtonActive {
  border: none;
  background: none;
  color: black;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.homepage-pointer {
  width: 0;
  height: 0;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 142px 0 142px 31px;
    border-color: transparent transparent transparent #D9D9D9;
    left: -25px;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 142px 0 142px 31px;
    border-color: transparent transparent transparent #F2F2F2;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.homepage-cardAndFooterSection {
  display: table;
  margin: auto;

  @include lg {
    margin: auto;
  }
}

.homepage-switcherSection {
  background-color: white;
  height: 300px;
  border: 1px solid #EAECED;
  margin-right: 1px;
  padding: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: -1px -12px 1px 3px rgba(234,236,237,1);
  -moz-box-shadow: -1px -12px 1px 3px rgba(234,236,237,1);
  box-shadow: -1px -12px 1px 3px rgba(234,236,237,1);
  width: auto;
  max-width: 320px;
  margin: 0 auto 30px auto;

  @include lg {
    width: 360px;
    max-width: none;
  }
}

.homepage-switcherSectionTitle {
  font-size: 15px;
  color: #7F7F7F;
  margin: 30px 0 30px 0;

  &.no-margin {
    margin-bottom: 10px;
  }
}

.homepage-switcherSectionSubTitle {
  font-size: 15px;
  color: #7F7F7F;
}

.homepage-switcherSectionSearch {
  width: 200px;
  border: 2px solid #0070BA;
  margin-bottom: 20px;
  height: 20px;
  font-size: 10px;
  margin-right: 5px
}

.homepage-switcherSectionValidate {
  color: green;
}

.homepage-switcherSectionAtylaValid {
  font-size: 8px;
  color: #7F7F7F;
}

.homepage-switcherSectionExhangeIcon {
  margin: 0 10px 0 10px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.homepage-switcherSectionCoinInput {
  width: 120px;
  height: 30px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #F2F2F2;

  &.mod-alone {
    width: 250px;
  }
}

.homepage-switcherSectionBuyMax {
  color: #D9D9D9;
  &:before {
    content: "EUR";
    position: relative;
    top: 0;
  }
}

.homepage-switcherSectionCrypto {
  position: absolute;
  top: 5px;
  right: 8px;
  color: #D9D9D9;
}

.homepage-switcherAtylaButton {
  margin-top: 60px;
  height: 40px;
  width: 300px;
  color: white;
  border: none;
  outline: none;
  background-color: #00AA5B;
  border-radius: 12px;

  &.mod-register {
    display: flex;
    margin: 0 auto 20px auto;
  }
}

.homepage-switcherAtylaButtonContent {
  display: flex;
  align-items: center;
}

.homepage-switcherAtylaButtonBrand {
  margin-right: 15px;
  font-size: 20px;
  margin-left: 15px;
  font-weight: 600;
}

.homepage-switcherAtylaButtonText {
  border-left: 2px solid white;
  padding-left: 15px;
  font-size: 20px;
}

.homepage-switcherSectionBrand {
  margin: 25px 0 21px 0;
  font-size: 30px;
  color: #0070BA;
}

.homepage-switcherSectionBrandLogoContainer {
  display: inline-flex;
}

.homepage-switcherSectionBrandLogoBox {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 1px solid #D9D9D9;
  display: grid;
  align-items: center;

  &.last {
    margin-right: 0;
  }
}

.homepage-switcherSectionBrandLogo {
  font-size: 40px !important;
  color: #0070BA;

  &.mod-margin {
    margin-right: 20px;
  }
}

.homepage-switcherSectionFooterText {
  font-size: 15px;
  color: #7F7F7F;
  font-style: italic;
  margin-top: 40px;
  padding: 20px;
}

.homepage-switcherProCreate {
  display: block;
}

.homepage-switcherProCreateButton {
  background-image: none;
  border: none;
  background-color: #0070BA;
  height: 30px;
  border-radius: 12px;
  margin-top: 20px;
  color: white;
}

.homepage-switcherSectionValidationLogoContainer {
  margin-top: 60px;
}

.home-switcherFooterLegend {
  text-align: left;
  font-size: 20px;
}

.home-switcherFooter {
  font-size: 14px;
  text-align: left;
  max-width: 330px;

  &.mod-nomargin {
    margin-bottom: 0;
  }
}

.homepage-openProLink {
  font-weight: 700;
  color: black;

  &:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid;
  }
}

.homepage-openProLinkWhite {
  font-weight: 700;
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid;
  }
}

.homepage-atylaDiv {
  width: 300px;
  height: 50px;
  margin: auto;
  font-size: 20px;

  @include sm {
    width: 400px;
    height: 70px;
    margin: auto;
    font-size: 30px;
  }
}

.homepage-loveLogo {
  height: 150px;

  &.mod-em {
    height: 125px;
    width: 200px;

    @include md {
      height: 150px;
      width: 300px;
    }
  }

  &.mod-ey {
    margin-bottom: 20px;

    @include sm {
      margin-bottom: auto;
    }
  }
}

.homepage-loveLogos {
  margin-bottom: 50px;
}

.homepage-rowOverride {
  margin-right: 0;
  margin-left: 0;
}

.homepage-sectionSimpleAndSecure {
  margin-bottom: 30px;
}

.homepage-rowOverrideCol {
  padding: 0;
}

.homepage-advantagesSection {
  margin-bottom: 30px;
}

.homepage-disabledInput {
  background-color: white;
}

.homepage-switcherInputWithCrypto {
  position: relative;
}

.homepage-switcherCurrencySection {
  display: flex;
  justify-content: center;
}
