body, html {
    height: 100%;
    margin: 0;
}

.bgImg:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('../background.jpeg');
    background-size: cover;
 }

.bgImg {
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.bottomRight {
    position: absolute;
    bottom: 5%;
    right: 2%;
    display: flex;
}

.bottomRightText {
    position: absolute;
    bottom: 15%;
    right: 2%;
}

.bottomRight > input {
    box-sizing: border-box;
    background-color: #00000099;
    font-size: 20px;
    padding: 5px;
    border: 5px solid red;
    border-width: 0 0 5px 0;
    outline: none;
    color: white;
}

.bottomRight > button {
    font-size: 15px;
    border: none;
    color: white;
    background-color: red;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
}

.bottomRight > button:disabled {
    background-color: #eceff1;
    cursor:not-allowed;
    color: white;
}

h1 {
    padding:  0 0 10px;
    font-size: 60px;
}

hr {
    margin: auto;
    width: 40%;
}

.middle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow:0 0 6px #000000;
}

.middle > p {
    font-size : 24px;
    padding-top: 30px;
}

.topLeft {
    position: absolute;
    color:red;
    top: 2%;
    left: 16px;
}