body,
html {
  margin: 0;
}

.homepageContainer {
  min-height: 100vh;
  position: relative;
}

h1 {
  margin: 0px 0px 0px 0px;
  font-size: 60px;
}

hr {
  margin: auto;
  width: 40%;
}

.topLeft {
  position: absolute;
  color: red !important;
  top: 2%;
  font-size: 25px;
  left: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.homepageBody {
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: 63vh;
  text-align: left;
  color: white;
  text-shadow: 0 0 2px #000000;
  background-color: #4472c5;
  font-size: 24px;
}
.homepageBody p {
  margin: 0% 15% 0% 15%;
}
.homepageBody div {
  width: 100%;
  display: black;
}
@media (min-width: 768px) {
  .homepageBody div {
    display: inline-block;
    width: 50%;
  }
}
.homepageBody h2 {
  padding: 0 0 0 0;
  margin: 0% 15% 0% 15%;
  font-size: 45px;
  font-weight: bold;
}
.homepageBody ul {
  padding: 0 0 0 0;
  margin: 0 0 10% 27%;
}

.leftSide {
  width: 100%;
}
@media (min-width: 768px) {
  .leftSide {
    float: left;
    width: 50%;
  }
}

.rightSide {
  width: 100%;
}
@media (min-width: 768px) {
  .rightSide {
    float: right;
    width: 50%;
  }
}

.searchIcos {
  border: 2px solid red;
  height: 38px;
  margin-left: 10%;
  margin-bottom: 10%;
  padding-left: 3px;
  color: black;
  font-size: 16px;
}
@media (min-width: 768px) {
  .searchIcos {
    width: 40%;
    margin-left: 17%;
  }
}
.searchIcos.mod-error {
  color: red;
}
.searchIcos.mod-sucess {
  color: green;
}

.icos-button {
  background: red;
  background-image: none;
  border: none;
  border-radius: 0;
  height: 40px;
  margin-right: 10px;
  vertical-align: top;
}
@media (min-width: 768px) {
  .icos-button {
    margin-right: auto;
  }
}
.icos-button:hover {
  background-color: red;
}
.icos-button:active {
  background-color: red;
}
.icos-button:focus {
  background-color: red;
}
