@mixin xs {
  @media (max-width: 767px) { @content; }
}

@mixin sm {
  @media (min-width: 768px) { @content; }
}

@mixin md {
  @media (min-width: 992px) { @content; }
}

@mixin lg {
  @media (min-width: 1200px) { @content; }
}
$color-chambray: #31538f;

.login {
  display: flex;
  justify-content: center;
  margin: 4vw auto 0 auto;
}

.login-logo {
  margin: 2vw 0 2vw 2vw;
}

.login-container {
  -webkit-box-shadow: -19px 18px 16px -4px rgba(187,222,255,0.57);
  -moz-box-shadow: -19px 18px 16px -4px rgba(187,222,255,0.57);
  box-shadow: -19px 18px 16px -4px rgba(187,222,255,0.57);
  align-self: center;
  background-color: white;
  display: block;
  width: 679px;
  margin-bottom: 20px;
  border: 1px solid #bbdeff;
  border-radius: 10px;

  @include sm {
    width: 679px;
  }
}

.login-form {
  margin: 0 55px 0 55px;
}

.login-header {
  margin: 20px auto 80px auto;
  font-size: 32px;
  font-family: 'Lato-Black';
  line-height: 1.7;
  font-weight: 500;
  text-align: center;
  width: 325px;
  padding-bottom: 5px;
  border-bottom: 6px solid #3d25c8;
}

.login-label {
  display: grid;
  margin-bottom: 20px;
}

.login-button {
  background-image: none;
  background-color: #3d25c8;
  border: none;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 22px;
  text-shadow: none;
  font-size: 26px;
  line-height: 26px;
  font-family: 'Lato-black';
  height: 50px;
  box-sizing: border-box;

  &:hover {
    color: #3d25c8;
    background-color: white;
    border: 2px solid #3d25c8;
  }

  &:active {
    color: #3d25c8;
    background-color: white;
    border: 2px solid #3d25c8;
  }

  &:focus:active {
    color: #3d25c8;
    background-color: white;
    border: 2px solid #3d25c8;
  }

  &:focus {
    color: #3d25c8;
    background-color: white;
    border: 2px solid #3d25c8;
  }

  &.mod-signup {
    background-color: white;
    color: black;
    border: 3px solid #3d25c8;
    font-weight: 700;
    margin-bottom: 55px;
    text-decoration: none;

    &:hover {
      color: white;
      border: none;
      text-decoration: none;
      background-color: #3d25c8;
    }

    &:active {
      color: white;
      border: none;
      background-color: #3d25c8;
    }

    &:focus:active {
      color: white;
      border: none;
      background-color: #3d25c8;
    }

    &:focus {
      color: white;
      border: none;
      background-color: #3d25c8;
    }
  }
}

.login-inputs {
  display: grid;
}

.login-errorMessage {
  height: 20px;
  color: red;
  text-align: center;
  font-size: 20px;
  font-weight: 350;
  font-style: italic;
  margin-bottom: 30px;

  &.mod-forgotten {
    height: 35px;
  }
}

.login-loginInput {
  height: 35px;
  padding: 5px;

  &.mod-intern {
    margin-bottom: 10px;
  }

  &.mod-last {
    margin-bottom: 72px;
  }

  &.mod-center {
    text-align: center;
  }

  &.mod-checkBox {
    margin-right: 20px;
  }

  &.mod-register {
    width: 100%;
  }

  &.mod-flag {
    height: 40px;
    border-bottom: 1px solid #bbdeff;
    padding: 0;

    &:hover {
      border-bottom: 1px solid #3d25c8;
    }
  }

  &.has-error {
    border: 1px solid red;
  }
}

.login-connectionImpossible {
  text-align: center;
  font-size: 12px;

  a {
    color: black;
  }
}

.login-ctaLimit {
  position: relative;
  font-size: 10px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #D9D9D9;


  &:before {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #D9D9D9;
    margin-left: -50%;
    text-align: right;
  }

  &:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: #D9D9D9;
  }
}

.form-hasError {
  color: red;
}
