@mixin xs {
  @media (max-width: 767px) { @content; }
}

@mixin sm {
  @media (min-width: 768px) { @content; }
}

@mixin md {
  @media (min-width: 992px) { @content; }
}

@mixin lg {
  @media (min-width: 1200px) { @content; }
}
$color-chambray: #31538f;
$color-linkWater: #d8e2f3;

.newsletterContainer {
  background-color: #F2F2F2;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

.newsletter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.newsletter-footer {
  margin: 0;
  font-size: 12px;
}

.newsletter-form {
  display: flex;
  width: 1170px;
  margin: auto;
}

.newsletter-button {
  background: #00AA5B;
  background-image: none;
  border: none;
  border-radius: 6px;
  height: 50px;
  left: -10px;
  vertical-align: top;
  z-index: 1;
  position: relative;
  width: 200px;
  font-size: 20px;

  &:hover {
    background-color: #00AA5B;
  }

  &:active {
    background-color: #00AA5B;
  }

  &:focus {
    background-color: #00AA5B;
  }
}

.newsletter-input {
  border: 3px solid #00AA5B;
  height: 50px;
  border-radius: 6px;
  position: relative;
  z-index: 30;
  font-style: italic;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;

  &.mod-error {
    color: #00AA5B;
  }

  &.mod-sucess {
    color: green;
  }
}