.tabHeader {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 0;
}

.tabHeader-title {
  font-size: 40px;
  font-weight: 300;
}

.tabHeader-button {
  display: flex;
  align-items: center;
}

.tabHeader-buttonDesign {
  padding: 12px 30px;
  background-image: none;
  background-color: #3d25c8;
  border: none;
  border-radius: 12px;
  margin-bottom: 22px;
  text-shadow: none;
  font-size: calc(2vw - 70%);
  font-family: 'Lato-black';
  color: white;
}

.tabHeader-selectButton {
  background: none;
  height: 48px;
  background-color: white;
  color: black;
  border: none;
  padding: 12px;
  margin-right: 20px;
  width: 228px;
  font-weight: normal;
  font-size: calc(2vw - 70%);
  text-transform: capitalize;
  font-family: 'Lato-Black';
}
