.atylaNavBar-navLinks {
  position: absolute !important;
  text-align: right !important;
  padding-top: 15px !important;
  right: 3% !important;
  font-size: 16px;
}

.atylaNavBar-activeLink {
  color: black !important;
  font-family: 'Courier New', Courier, monospace !important;
  text-decoration: underline red !important;
}
.atylaNavBar-activeLink.mod-last {
  margin-right: 0 !important;
}

.atylaNavBar-normalLink {
  margin-right: 20px !important;
  color: black !important;
  font-family: 'Courier New', Courier, monospace !important;
}
.atylaNavBar-normalLink.mod-last {
  margin-right: 0% !important;
}

.navbar-default {
  margin-bottom: 0px;
}
.navbar-default navbar-brand {
  color: red;
}

.footer {
  border-top: 2px solid #31538f;
  background-color: #d8e2f3;
  position: absolute;
  width: 100%;
}

.footer-container {
  padding-top: 20px;
  text-align: center;
  max-width: 300px;
}
@media (min-width: 768px) {
  .footer-container {
    max-width: 100%;
    text-align: left;
  }
}

.footer-element {
  padding-top: 10px;
}

.footer-elementTitle {
  font-size: 20px;
  font-weight: 900;
}

.footer-link {
  display: block;
  text-decoration: none;
}

.footer-credentials {
  text-align: center;
}

.newsletter {
  border-top: 2px solid #31538f;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.newsletter-button {
  background: red;
  background-image: none;
  border: none;
  border-radius: 0;
  height: 40px;
  margin-right: 10px;
  vertical-align: top;
}
@media (min-width: 768px) {
  .newsletter-button {
    margin-right: auto;
  }
}
.newsletter-button:hover {
  background-color: red;
}
.newsletter-button:active {
  background-color: red;
}
.newsletter-button:focus {
  background-color: red;
}

.newsletter-input {
  width: 180px;
  border: 2px solid red;
  height: 40px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .newsletter-input {
    width: 500px;
    margin-left: auto;
  }
}
.newsletter-input.mod-error {
  color: red;
}
.newsletter-input.mod-sucess {
  color: green;
}

.login {
  display: table;
  margin: 0 auto;
}

.login-container {
  background-color: white;
  display: block;
  height: 362px;
  width: 300px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .login-container {
    width: 455px;
  }
}

.login-form {
  margin: 0 20px 0 20px;
}

.login-header {
  position: relative;
  padding-top: 20px;
  margin: 20px 20px 20px 20px;
  font-size: 30px;
  font-weight: 200;
  border-bottom: 1px solid gray;
  line-height: 1.7;
}

.login-label {
  display: grid;
  margin-bottom: 20px;
}

.login-button {
  background-image: none;
  background-color: black;
  border: none;
  border-radius: 0;
  width: 100%;
  margin-bottom: 25px;
}
.login-button:hover {
  background-color: black;
}
.login-button:active {
  background-color: black;
}
.login-button:focus:active {
  background-color: black;
}
.login-button:focus {
  background-color: black;
}

.login-inputs {
  margin-bottom: 40px;
}

.login-errorMessage {
  color: red;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.icos {
  margin: 50px 20px 20px 20px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .icos {
    margin: 50px 20px 20px 20px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .icos {
    margin: 50px auto 20px auto;
    max-width: 1170px;
  }
}

.icos-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .icos-cards {
    flex-direction: inherit;
  }
}

.icos-card {
  width: 200px;
  height: 200px;
  border: 2px solid #31538f;
  margin-bottom: 20px;
  flex: 0 1 calc(75% - 1em);
}
@media (min-width: 768px) {
  .icos-card {
    flex: 0 1 calc(50% - 1em);
  }
}
@media (min-width: 1200px) {
  .icos-card {
    flex: 0 1 calc(25% - 1em);
  }
}

.icos-cardHeader {
  color: red;
  font-size: 20px;
  font-weight: 200;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.icos-cardContent {
  height: 110px;
  margin: 0 5px 0 5px;
}

.icos-cardFooter {
  text-align: center;
}

.icos-cardTitle {
  color: red;
}

.icos-cardButton {
  background: red;
  background-image: none;
  border: none;
  border-radius: 0;
}
.icos-cardButton:hover {
  background-color: red;
}
.icos-cardButton:active {
  background-color: red;
}
.icos-cardButton:focus:active {
  background-color: red;
}

.icos-cardContentText {
  height: 60px;
  overflow: scroll;
  text-overflow: ellipsis;
}

.ico-headerBar {
  border-bottom: 1px solid black;
  height: 80px;
  margin-bottom: 20px;
}

.ico-title {
  padding-top: 10px;
  margin: auto;
  display: flex;
  max-width: 1170px;
  font-size: 40px;
  font-weight: 200;
  color: red;
  flex-direction: column;
  align-items: center;
}

.ico-card {
  max-width: 1170px;
  border: 1px solid black;
  padding: 20px;
  font-size: 15px;
  margin: 0 20px 50px 20px;
}
@media (min-width: 1200px) {
  .ico-card {
    margin: 0 auto 50px auto;
  }
}

.ico-form {
  display: grid;
}

.ico-cardTitle {
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.ico-cardInput {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #cfd7d8;
}

.ico-cardLabel {
  font-weight: 200;
  margin-bottom: 20px;
}

body,
html {
  margin: 0;
}

.homepageContainer {
  min-height: 100vh;
  position: relative;
}

h1 {
  margin: 0px 0px 0px 0px;
  font-size: 60px;
}

hr {
  margin: auto;
  width: 40%;
}

.topLeft {
  position: absolute;
  color: red !important;
  top: 2%;
  font-size: 25px;
  left: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.homepageBody {
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: 63vh;
  text-align: left;
  color: white;
  text-shadow: 0 0 2px #000000;
  background-color: #4472c5;
  font-size: 24px;
}
.homepageBody p {
  margin: 0% 15% 0% 15%;
}
.homepageBody div {
  width: 100%;
  display: black;
}
@media (min-width: 768px) {
  .homepageBody div {
    display: inline-block;
    width: 50%;
  }
}
.homepageBody h2 {
  padding: 0 0 0 0;
  margin: 0% 15% 0% 15%;
  font-size: 45px;
  font-weight: bold;
}
.homepageBody ul {
  padding: 0 0 0 0;
  margin: 0 0 10% 27%;
}

.leftSide {
  width: 100%;
}
@media (min-width: 768px) {
  .leftSide {
    float: left;
    width: 50%;
  }
}

.rightSide {
  width: 100%;
}
@media (min-width: 768px) {
  .rightSide {
    float: right;
    width: 50%;
  }
}

.searchIcos {
  border: 2px solid red;
  height: 38px;
  margin-left: 10%;
  margin-bottom: 10%;
  padding-left: 3px;
  color: black;
  font-size: 16px;
}
@media (min-width: 768px) {
  .searchIcos {
    width: 40%;
    margin-left: 17%;
  }
}
.searchIcos.mod-error {
  color: red;
}
.searchIcos.mod-sucess {
  color: green;
}

.icos-button {
  background: red;
  background-image: none;
  border: none;
  border-radius: 0;
  height: 40px;
  margin-right: 10px;
  vertical-align: top;
}
@media (min-width: 768px) {
  .icos-button {
    margin-right: auto;
  }
}
.icos-button:hover {
  background-color: red;
}
.icos-button:active {
  background-color: red;
}
.icos-button:focus {
  background-color: red;
}
